#
# marbu's ~/.ssh/config (just an example)
#

Host *
ForwardX11 no
ForwardAgent no

# control master: yes, no, auto, ask, autoask
# auto requires "-o ControlMaster=no" when tunelling
Controlmaster no
#Controlpath ~/.ssh/socket/%r@%h:%p

#
# public machines
#

Host github
Hostname github.com
IdentityFile ~/.ssh/id_github

Host git.code.sf.net
Hostname git.code.sf.net
IdentityFile ~/.ssh/id_github

Host bitbucket.org
Hostname bitbucket.org
IdentityFile ~/.ssh/id_github

#
# my machines
#

Host foo
Hostname foobar.eu
User marbu
IdentityFile ~/.ssh/id_rsa
ProxyCommand corkscrew-static cache.barbaz.eu 5555 %h %p

#
# muni.cz machines
#

Host aisa
Hostname aisa.fi.muni.cz
User xlogin
IdentityFile ~/.ssh/id_rsa

# lab computers at fi.muni
Host *.fi.muni.cz
ProxyCommand ssh aisa "nc %h 22"
User xlogin
IdentityFile ~/.ssh/id_rsa

#
# windows example
#

Host darkrhea
Hostname darkrhea
User Administrator
IdentityFile ~/.ssh/id_rsa
Controlmaster auto
Controlpath ~/.ssh/socket/%r@%h:%p
