[user]
  name = Martin Bukatovic
  email = martin.bukatovic@gmail.com
  editor = vim
[core]
  ; pager = delta
[interactive]
  ; diffFilter = delta --color-only
[delta]
  features = decorations
  ; see: delta --show-syntax-themes --dark
  syntax-theme = zenburn
  line-numbers = true
  ; side-by-side = true
[delta "decorations"]
  file-style = bold white
  file-decoration-style = none
  hunk-header-decoration-style = yellow box
[color]
  ui = auto
[merge]
  tool = vimdiff
[apply]
  whitespace = strip
[alias]
  ci = commit
  st = status -sb
  dc = diff --cached
  df = diff
  wh = whatchanged
  rank = shortlog -sn --no-merges
  graph = log --graph --oneline --decorate
  tags = tag -n1 -l
  root = rev-parse --show-toplevel
[github]
  user = marbu
[push]
  default = simple
[init]
  defaultBranch = main
[pull]
  ff = only
