! marbu's Xresources file
! force reload replacing previous configuration: xrdb ~/.Xresources
! force reload merging with current configuration: xrdb -merge ~/.Xresources

XTerm*background: black
XTerm*foreground: white
XTerm*font: -misc-fixed-medium-r-normal-*-14-*-*-*-*-*-iso10646-*
XTerm*pointerColor: red
XTerm*pointerColorBackground: black

URxvt*background: black
URxvt*foreground: white
URxvt.scrollBar: false
URxvt.perl-ext: confirm-paste

xscreensaver.newLoginCommand: dm-tool switch-to-greeter
